h1 {
    text-align: center;
}

.shift-btn {
    width: 50% !important;
}

#shiftCol {
    text-align: center;
    text-align: -webkit-center;
}

#priceResult {
    margin-top: 10px;
}

.productList {
    width: 100% !important;
}